$background-color-primary: #F9F8F6;
$background-color-second:#FFFFFF;
$text-color:#57606F;
$text-color-second:#747D8C;
$text-color-third:#2F3542;
$header-color:#A4B0BE;
$icon-color-first:#740001;
$icon-color-secend:#FF4757;
$btn-background-color-first:#946B2D;
$btn-background-color-second:#CED6E0;